#mouse{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
  width: 6vw;
}
#container{
  width: 40vw;
  min-height: 140vh;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  padding: 1vw;
  margin-top: 40vh;
}
.boxes{
  width: 18.5vw;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
  background: red;
  overflow: hidden;
}
.img_wrapper{
  height: 200%;
  border-radius: 10px;
  transition: all ease-out 0.4s;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.boxes:hover .img_wrapper{
    scale: 1.1;
}